.section-title
  &__description
    &--clients
      margin-bottom: 2.785rem
.card
  &__title
    &--clients
      font-size: 1.285rem
      display: flex
      flex-wrap: wrap
  &__top
    &--clients
      display: flex
      flex-direction: row

      &--image
        border-radius: 50%
  &__pricetag
    &--clients
      margin-left: 2rem

  // &__pricetag
  //   &--clients
  //     display: flex
  //     flex-direction: row
  //     justify-content: space-between 
  //     padding: 4rem
  //     &--wrapper
  //       display: flex
  //       flex-direction: row
  //       justify-content: space-between
