.measuring
  background: url(../img/measuring/circle.png) left 80px no-repeat
  &__text
    position: absolute
    margin-top: 5px
    font-weight: 500
    font-size: 1.285rem
    &--first
      margin-left: 420px
      margin-top: 140px
      max-width: 26rem
    &--second
      margin-top: 260px
      margin-left: 490px
    &--third
      margin-top: 420px
      margin-left: 510px
    &--fourth
      margin-top: 570px
      margin-left: 450px
      max-width: 18.28rem
.economy
  display: flex
  align-items: center
  margin-top: 2.714rem
  &__image
    &-wrapper
      display: flex
      justify-content: center
      align-items: center
      background: $primary
      width: 72px
      height: 72px
      border-radius: 50%
  &__text
    color: $primary
    font-weight: 500
    font-size: 1.428rem
    line-height: 25px
    max-width: 22.7rem
    margin-left: 26px